@page
@model IndexModel
@{
    ViewData["Title"] = "Home to page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome to Github Ladies and Gentlemen !</h1>
=======
    <h1 class="display-4">Welcome to Github!</h1>
>>>>>>> 1302ee46087b12fdbee49350ca0b45daa3a72f2f
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
